# Python

*.egg-info/
__pycache__/
.eggs/
*.egg
.installed.cfg
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
pip-wheel-metadata/
sdist/
share/python-wheels/
var/
wheels/

# Buildout

parts/
.installed.cfg